body {
	color: #fff;
	overflow-x: hidden;
}

@media (max-width:435px) {
	body { 
		overflow-x: visible;
	}
}

.navbar {
	/* background: rgba(10,29,31,0.65); */
	background: rgba(13,20,31,.8);

	border-bottom: #915110 solid 1px;
}

.navbar-brand {
	max-height: 70px;
	max-width: 150px;
}

#home-section {
	background: rgb(13,20,31);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 210vh;
}

#home-section .main-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height:210vh;
	/* border-bottom: #915110 solid 1px; */
}

#home-section .home-inner {
	padding-top: 170px;
}

.text-orange {
	color: #d1671b;
}

.header-link {
	color: #d1671b;
}

.header-link:hover {
	text-decoration: none;
	color: #f5ab5f;
}

#home {
	height: 110vh;
}

#home-section .card-form {
	background: rgba(13,20,31,0.8);
	opacity: 90%;
}

#home-section .fa-border {
	border: 3px solid #fff;
	padding: 5px;
	border-radius: 5px;
}

#learn-btn {
	margin-top: 5rem;	
}

#learn-btn a {
	background: rgba(13,20,31,0.8);
}

#learn-btn a:hover {
	background: #f8f9fa;
	color: #000;
	opacity: 90%;
}

.btn-login {
	background: #d1671b;
	color: #fff;
	width: 70px;
}

.btn-login:hover {
	color: #f5ab5f;
}

.modal {
	margin-top: 50.5px;
	margin-left: 100px;
}

#loginModal .modal-content {
	background: none;
	border: none;
	max-width: 420px;
	min-width: 340px;
}

#loginModal .card {
	border-radius: 1rem;
}

#loginModal .card-body {
	margin-top: 20px !important;
	margin-bottom: 15px;
}

#loginModal .close {
	outline: none;
}

#loginModal .form-control {
	border-radius: 2rem;
}

#loginModal .login-btn {
	border-radius: 2rem;
	background: #fa6d16;
	color: #fff;
}

#username-inp:focus, #password-inp:focus {
	outline: none !important;
	box-shadow: none;
	border: 1px solid #ced4da;
}

.ext-site-btn {
	padding-left: 0 !important;
	border-radius: 2rem;
	background: none;
	border: 2px solid #cfcfcf;
	box-shadow: inset 0px 0px 40px 40px #f7f7f7;
}

.ext-site-btn div {
	padding-right: 45px;	
}

#explore {
	margin-top: 6rem;
}

.explore-sub {
	background: rgb(18,35,43);
	border-radius: 15px;
	/*border: 1px solid #d1671b;*/
	position: relative;
}

.explore-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.explore-nav .nav-link i {
	font-size: 1.5em;
}

/* This is necessary while using scrollspy */
.custom-active {
	color: #fff !important;
}

.btn-stagger {
	border: 1px solid #6c757d;
}

#main-footer {
	background-image: linear-gradient(rgb(18,35,43), rgb(13,20,31));
	border-top: 1px solid #0a151a;
	padding: 50px;
}
